.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;

  display: flex;
}

.current-list-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.old-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
  min-width: 430px;
  padding: 2rem;
  border-radius: 40px;
  background-color: #787878;
}
