.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.current-list-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  /* margin-right: rem; */
}

.old-list-container {
  margin-top: -6rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
  min-width: 430px;
  max-height: 1000px;
  padding: 2rem;
  border-radius: 40px;
  background-color: #787878;
  z-index: 10;
}
