.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  background-color: white;
  color: black;
  padding: 5rem;
  position: relative;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-textarea {
  resize: none;
  margin-top: 1rem;
  width: 250px;
  height: 250px;
}

.submit-btn {
  padding: 0 1rem;
  margin-top: 1rem;
  align-self: center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
