p.current-day {
  margin-top: 0.5rem;
}

.current-list-container {
  display: flex;
  flex-direction: column;
}

.current-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.current-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d5d5;
  padding: 1rem;
  width: 100%;
  /* height: 2.5rem; */
  border-radius: 50px;
  margin: 0.5rem 0;
}
.btn-container {
  display: flex;
}
.btn-container button:first-child {
  margin-right: 0.5rem;
}
.btn-container button {
  border-style: none;
  background-color: #d5d5d5;
  color: #707070;
  transition: all 0.3s ease-in-out;
  padding: 0.3rem;
}

.btn-container button:hover,
.btn-container button:focus,
.btn-container button:active {
  color: orangered;
  transform: translateY(-5px);
}

.finish-button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 10px;
  background-color: #d8d8d8;
  color: #707070;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
}
.finish-button:hover,
.finish-button:focus,
.finish-button:active {
  background-color: orangered;
  color: white;
}
